# --- Virtual Environment ---
# Ignore the virtual environment folder
venv/

# --- VS Code ---
# Ignore workspace settings and caches
/.vscode/

# --- Python ---
# Ignore bytecode and compiled files
__pycache__/
*.py[cod]
*$py.class
